/*
 *= require jquery-ui
 *= require jquery.tagit.css
 */

@import "normalize";

@import "variables";
@import "layout";
@import "components/comment";
@import "components/comments";
@import "components/navbar";
@import "components/notification";
@import "components/form";
@import "components/input";
@import "components/button";
@import "components/post";

.d-none {
	display: none;
}

.mb-1 {
  margin-bottom: $spacer * .25 !important;
}

.mb-2 {
  margin-bottom: $spacer * .5 !important;
}

.mb-3 {
  margin-bottom: $spacer !important;
}

.ml-1 {
  margin-left: $spacer * .25 !important;
}

.ml-2 {
  margin-left: $spacer * .5 !important;
}

.mt-2 {
  margin-top: $spacer * .5 !important;
}

.mt-3 {
  margin-top: $spacer !important;
}
